.top {
  .select {
    margin-left: 90px;
  }
}
input.class-add-area {
  width: 230px;
}
.class-sing-up {
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
  .calssbtn {
    width: 48px;
  }
}
