.upde-login-area {
  margin-top: 1rem;
  .updeb-btn {
    width: 110px;
    &:hover {
      background-color: crimson;
      box-shadow: 3px 3px 3px 3px white; //做陰影
      cursor: pointer;
    }
  }
}
